*{
  margin: 0;
}

.app__body{
  height: 100vh;
  background-color: Rgb(240, 242, 245);  
  display: flex;
  justify-content: center;
  
}

.container_center{
  background-color: white;
  border-radius: 10px;    
  width: 500px;
  margin: 10px;
  padding: 10px;    
}